<script src="https://unpkg.com/vue@2.5.17"></script>
<script src="js/kmt_kata_list.js" defer></script>

<div id="app">
  <span v-for="kata in kataList" v-bind:key="kata.kokyuName">
    {{ kata.kokyuName }}<input type="radio" name="kokyu" v-bind:value="kata.kokyuName" v-on:input="kokyuName = kata.kokyuName">
  </span>
  <br>
  <span>
    型No.<input type="text" maxlength="2" v-model="kataNum">
  </span>
  <br>
  <span>
    {{ decideKataName }}
  </span>
  <br>
  <span v-show="hasKataName">
    {{ decideKataName | changeFormat }}
  </span>
</div>
